.epsilon-controller-image-dimensions-container {
  display: block;
  width: 100%;

  .col-4 {
    display: inline-block;
    width: 43%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-right: 10px;
    &:last-of-type {
      padding-right: 0;
      width: 14%;
    }
    .mini-label {
      display: block;
    }

    input[type="text"] {
      min-width: 0;
      width: 100%;
    }
  }
}
