ul.accordion-section {
    min-height: 100% !important;
}
.description.customize-section-description {
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid #CCC;
	font-style: italic;
	line-height: 1.5;
}
.wp-admin .checkbox_switch {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.customize-control-title.onoffswitch_label {
    width: 71%;
}

.onoffswitch_label {
    display: inline-block;
    vertical-align: top;
    margin-right: 21px;
    margin-top: -1px;
}

.onoffswitch {
    position: relative;
    width: 52px;
    display: inline-block;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none !important;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 22px;
    padding: 0;
    line-height: 19px;
    transition: background-color 0.2s ease-in;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 30px;
    background-color: #c4c4c4;
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .11);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .11);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .11);
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 32px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in 0s;
}

.onoffswitch-label:after {
    content: "OFF";
    display: block;
    color: #FFF;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 6px;
    font-size: 11px;
    font-family: 'Arial';
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #3caf0e;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #3caf0e;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 2px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:after {
    content: "ON";
    display: block;
    color: #FFF;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 27px;
    font-size: 11px;
    font-family: 'Arial';
}

.widget-content .customize-control-title {
    font-weight: 400;
}

.widget-content .customize-control-title.onoffswitch_label {
    width: 65%;
    margin-right: 26px;
}

.mte-tooltip {
    width: 150px;
    position: absolute;
    background: #55AAD3;
    color: #EEE;
    font-size: 12px;
    min-height: 50px;
    border-radius: 5px;
    right: -75px;
    top: -10px;
    z-index: 10;
    display: none;
    padding: 12px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    transform: translateY(-100%);
    left: auto;
}

.dashicons.dashicons-editor-help {
    cursor: pointer;
    color: #55AAD3;
}

.dashicons.dashicons-editor-help:hover > .mte-tooltip {
    display: block;
}
.customize-control-mte-slider input[type="text"] {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 42px;
    height: 22px;
}

.customize-control-mte-slider .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 202px;
    background: #d6d6d6;
}

.customize-control-mte-slider .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    top: -10px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: solid 1px #d7d7d7;
    transform: translateX(-50%);
}

.customize-control-mte-slider .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background: #E04D43;
    top: 0;
    bottom: 0;
}

.widget-content label.block {
    display: block;
    margin-bottom: 10px;
}

.widget-content input.rl-slider {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0 0 15px;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 42px;
    height: 22px;
    cursor: pointer;
}

.widget-content .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
    width: 175px;
    float: right;
    background: #d6d6d6;
}

.widget-content .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    top: -10px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: solid 1px #d7d7d7;
    transform: translateX(-50%);
}

.widget-content .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background: #E04D43;
    top: 0;
    bottom: 0;
}

/* Tab Custom Control */
.epsilon-tabs {
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 12px;
}
.epsilon-after-tab {
    margin-left: -12px;
    margin-right: -12px;
}
.epsilon-after-tab > div {
    background: #f4f4f4;
    height: 30px;
    width: 100%;
}
.epsilon-tabs .tabs {
    text-align: center;
    padding-top: 5px;
    overflow: hidden;
}
/*a.epsilon-tab:first-child {
    border-left: 1px solid #CCC;
}*/
a.epsilon-tab {
    width: 120px;
    text-align: center;
    display: inline-block;
    background: #efefef;
    font-size: 13px;
    color: #333333;
    text-decoration: none;
    position: relative;
    top: 1px;
    text-decoration: none;
    box-shadow: 0px 0px 12px -2px rgba( 0,0,0,.5 );
    margin-right: 5px;
    line-height: 32px;
}
a.epsilon-tab:focus {
    outline: none;
}
a.epsilon-tab.active {
    /*border-bottom-color: #f1f1f1;*/
    background-color: #f4f4f4;
}
.customize-control.tab-element {
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 12px 12px;
    background: #f4f4f4;
    margin-bottom: 0;
}
.customize-control.customize-control-epsilon-tab {
    margin-bottom: 0;
}

/* Documentation Section */
#customize-controls .control-section-illdy-pro-section .accordion-section-title:hover,
#customize-controls .control-section-illdy-pro-section .accordion-section-title:focus {
    background-color: #fff;
}

.control-section-illdy-pro-section .accordion-section-title .button {
    margin-top:  -4px;
    font-weight: 400;
    margin-left: 8px;
}

.rtl .control-section-illdy-pro-section .accordion-section-title .button {
    margin-left:  0;
    margin-right: 8px;
}

/* Widget Button */

a.epsilon-button {
    font-size: 16px;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 15px 0;
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 5px;
}

/* Epsilon color scheme */

.mte-color-scheme-palette span {
    height: 20px;
    width: 25px;
    float: left;
}

.mte-color-scheme-palette {
    cursor: pointer;
    padding: 2px;
    display: inline-block;
    border: 1px solid transparent;
}

.mte-color-scheme-palette:hover,
.mte-color-scheme-palette:focus,
.mte-color-option.selected > .mte-color-scheme-palette {
    border: 1px solid #55AAD3;
}

.mte-color-scheme-name {
    display: inline-block;
    float: left;
    margin-right: 15px;
    min-width: 75px;
}
div.recomended-actions_container {
    padding: 0 10px;
    margin-bottom: 2em;
}
.epsilon-recommeded-actions p.title {
    margin-bottom: 0;
    font-size: 14px;
    color: #555d66;
    font-weight: 600;
    padding-right: 20px;
}
.epsilon-recommeded-actions div.description {
    font-size: 12px;
}
.epsilon-recommeded-actions .custom-action {
    border-top: 1px solid #fafafa;
    margin-top: 1em;
    padding-top: 1em;
}
.epsilon-recommeded-actions .custom-action p {
    margin-top: 0;
}
.recomended-actions_container .epsilon-recommeded-actions-container:not(:first-child) {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.recomended-actions_container .epsilon-recommeded-actions-container:first-child {
    height: auto;
    opacity: 1;
}
.recomended-actions_container .epsilon-recommeded-actions-container {
    -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
}
.recomended-actions_container .hide {
    display: none;
}
.illdy-actions-count.complete {
    background-color: #79ba49;
}
.recomended-actions_container #demo_content .button {
    display: block;
    margin-bottom: 1em;
    text-align: center;
}
.recomended-actions_container .succes a {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.recomended-actions_container .succes a.social {
    width: 49%;
    margin-bottom: 1em;
    line-height: 20px;
    padding-top: 4px;
}
.recomended-actions_container .succes a.social span,
.recomended-actions_container .succes a.illdy-wordpress span {
    margin-right: 5px;
}
.recomended-actions_container .succes a.illdy-wordpress {
    line-height: 20px;
    padding-top: 4px;
}

/* Reorder */
#sub-accordion-panel-illdy_frontpage_panel > li.control-section > h3:before {
    content: "\f545";
    opacity: 0.5;
    font: 400 20px/21px dashicons;
    speak: none;
    display: inline-block;
    padding: 0;
    text-indent: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: middle;
    margin-right: 10px;
}
#sub-accordion-panel-illdy_frontpage_panel > li.control-section#accordion-section-illdy_jumbotron_general > h3:before{
    content: "ï… "
}
#sub-accordion-panel-illdy_frontpage_panel .description {
    display: block !important;
    background: transparent !important;
}
#sub-accordion-panel-illdy_frontpage_panel .panel-meta{
    margin-bottom: 0;
    border-bottom: 0 none;
}

/* Customizer Editor */

body .wp-full-overlay{
    z-index: 9999;
}

.wp-js-editor-active textarea, .illdy-editor-added textarea{
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
}

.wp-js-editor-preview {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #32373c;
    outline: 0 none;
    transition: border-color 50ms ease-in-out 0s;
    min-height: 150px;
    display: block;
    padding: 2px 6px;
}
.wp-js-editor-preview.wpe-focus {
    border-color: #5b9dd9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
}
.wp-js-editor-preview {
    cursor: pointer;
}
.wp-js-editor-preview img {
    max-width: 100%;
    height: auto;
}
.modal-wp-js-editor * {
    box-sizing: border-box;
}
.modal-wp-js-editor {
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    top: auto;
    bottom: 0px;
    height: 350px;
    max-height: 100%;
    background: #EEEEEE;
    padding: 15px;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;

    -ms-transform: translateY(100%); /* IE 9 */
    -webkit-transform: translateY(100%); /* Safari */
    transform: translateY(100%);
}
.modal-wp-js-editor .fullscreen-wp-editor span:before {
    content: "\f211";
}
.modal-wp-js-editor.fullscreen .fullscreen-wp-editor span:before {
    content: "\f506";
}
.modal-wp-js-editor.fullscreen {
    height: 100%;
}
.modal-wp-js-editor .wp-editor-wrap {
    height: 100%;
    display: block;
}
.modal-wp-js-editor.wpe-active {
    -ms-transform: translateY(0); /* IE 9 */
    -webkit-transform: translateY(0); /* Safari */
    transform: translateY(0);
}

.modal-wp-js-editor textarea {
    width: 100%;
    display: block;
}
.wp-switch-editor.close-wp-editor {
    color: #e34113;
}

@media (max-width: 700px) {
    .modal-wp-js-editor {
        z-index: 99999;
        border-top: 1px solid #ddd;
        border-right: 0 none !important;

        -ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Safari */
        transform: translateX(0);

        -ms-transform: translateY(100%); /* IE 9 */
        -webkit-transform: translateY(100%); /* Safari */
        transform: translateY(100%);

    }
    .modal-wp-js-editor.wpe-active {
        -ms-transform: translateY(0); /* IE 9 */
        -webkit-transform: translateY(0); /* Safari */
        transform: translateY(0);

    }

}

