.illdy-nav-tabs {
    margin-bottom: 0;
}
.illdy-nav-tabs:after {
    clear: both;
    display: table;
    content: " ";
}
.illdy-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    display: block;
}
.illdy-nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    display: block;
    padding: 10px 15px;
	text-decoration: none;
}
.illdy-nav-tabs > li.active > a, .illdy-nav-tabs > li.active > a:focus, .illdy-nav-tabs > li.active > a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.illdy-nav-tabs > li.illdy-w-red-tab > a {
    color: red;
    font-weight: bold;
}
.illdy-tab-content {
	background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 960px;
    float: left;
}
.illdy-tab-content > .tab-pane {
    display: none;
}
.illdy-tab-content > .active {
    display: block;
}

.illdy-tab-pane {
	padding: 30px;
}
.illdy-tab-pane {
    display: none;
}
.illdy-tab-pane.active {
    display: block;
}

#illdy-theme-version {
    font-size: 50%;
    padding: 10px;
    background: #ccc;
}
#illdy-w-screenshot {
    border: 1px solid #ccc;
    margin-top: 30px;
}
.illdy-w-activated {
    cursor:not-allowed !important;
}
.illdy-tab-pane-half {
    width: 45%;
    float:left;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    margin-top: 15px;
    padding-right: 20px;
    margin-bottom: 15px;
}
.illdy-tab-content img {
    max-width: 100%;
}
.illdy-tab-pane-first-half {
    border-left: none;
}
.illdy-tab-pane-center {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.illdy-welcome-title {
    font-size: 32px;
}
.illdy-clear {
    clear: both;
}
.illdy-child-theme-container {
    position: relative;
}
.illdy-child-theme-description {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.illdy-child-theme-image-container {
    position: relative;
    overflow: hidden;
}
.illdy-child-theme-image-container img {
    max-width: 100%;
}
.illdy-child-theme-details .theme-details {
    padding: 10px;
    background: none repeat scroll 0 0 #F1F1F1;
    font-size: 18px;
}

.illdy-child-theme-details .theme-details.active {
    background: none repeat scroll 0 0 #2B5F87;
    color: #fff;
}

.illdy-child-theme-details .theme-details .theme-name {
    float:left;
}
.illdy-child-theme-details .theme-details .preview {
    margin-right: 2px;
}
.illdy-fre-pro table {
    border-collapse: collapse;
    width: 100%;
}
.illdy-fre-pro table tr {
    border-bottom: 1px solid #ddd;
}
.illdy-fre-pro table td {
    padding: 30px;
}
.illdy-fre-pro table th {
    padding-bottom: 30px;
}
.illdy-fre-pro table td span.dashicons-before:before {
    font-size: 50px;
    width: auto;
    height: auto;
}
.illdy-fre-pro table td span.dashicons-yes:before {
    color:green;
}
.illdy-fre-pro table td span.dashicons-no-alt:before {
    color:red;
}
.illdy-fre-pro table tr.illdy-text-center {
    text-align: center;
}
.illdy-actions-count {
    padding: 0 6px;
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
}
.illdy-action-required-box {
    position: relative;
}
.illdy-dismiss-required-action {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: #D24A4A;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.illdy-dismiss-required-action:hover {
    background-color: #CC8C8C;
}

#github.illdy-tab-pane {
  text-align: center;
}

#github.illdy-tab-pane .illdy-tab-pane-half {
  min-height: 160px;
}

#github.illdy-tab-pane .translate-button, #github .github-button {
  margin-top: 20px;
}

#github.illdy-tab-pane .dashicons {
  color: #0073aa;
  font-size: 12px;
  width: auto;
}

#github.illdy-tab-pane h4 {
  margin:10px;;
}

#github.illdy-tab-pane p.review-link {
  margin:0;
}

#github.illdy-tab-pane .illdy-tab-pane-half hr {
  display: none;
}

/*Breakpoints*/

@media (max-width: 1200px) {
  .illdy-tab-content {
    width: 98%;
  }
  .illdy-tab-pane-half {
    width: 43%;
  }
}
@media (max-width: 782px) {
  #github.illdy-tab-pane .illdy-tab-pane-half hr {
    display:block;
  }

  .illdy-tab-pane-half {
    width: auto;
    float: none;
    border-left: none;
  }
  .illdy-welcome-title, .illdy-tab-content h1 {
    line-height: 30px;
  }
  .illdy-fre-pro table td {
    padding: 30px 10px;
  }
}
