.illdy-actions-count {
    padding: 0 6px;
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 3px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
    float: right;
}

.button.change-theme {
    display: none;
}
.epsilon-recommeded-actions {
    position: relative;
}

.epsilon-recommeded-actions .illdy-dismiss-required-action,
.epsilon-recommeded-actions .illdy-recommended-plugin-button {
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: #d54e21;
    border-radius: 50%;
    cursor: pointer;
}
.epsilon-recommeded-actions #temp_load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0,0,0,.2 );
    display: flex;
    align-items: center;
}
.epsilon-recommeded-actions #temp_load img {
    margin: 0 auto;
}